<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bishop.shorthunterbot</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-d</string>
        <string>-s</string>
        <string>--</string>
        <string>/Library/Frameworks/Python.framework/Versions/3.13/bin/python3</string>
        <string>/Users/bishop/Desktop/bots/short hunter/short_hunter_bot.py</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/bishop/Desktop/bots/short hunter/launchd_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/bishop/Desktop/bots/short hunter/launchd_stderr.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/bishop/Desktop/bots/short hunter</string>
    
    <key>ExitTimeOut</key>
    <integer>30</integer>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Library/Frameworks/Python.framework/Versions/3.13/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
